/*------------------------------------
BASE
------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*------------------------------------
ELEMENT
------------------------------------*/
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Roboto", "Lato", serif;
}
h2 {
  font: 100 3rem "Lato";
  text-align: end;
  letter-spacing: 0.055em;
  color: black;
  line-height: 60px;
  padding: 55px 0 55px 0;
  margin: 0 0 40px 0;
}
a{
  text-decoration: none;
  color: black;
}
/*------------------------------------
COMPONENTS
------------------------------------*/
/* header */
header {
  background-color: #34495e;
}
header h1 {
  font: 900 6rem "Roboto";
  text-align: center;
  letter-spacing: 0.3379em;
  color: white;
  margin: 0;
  padding: 45px 0 45px 0;
}
/* section slogan */


/* section regles */
.regles .wrapper{
  display: flex;
  flex-direction: column;
  gap:30px ;
}
.regles .gauche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
.regles article:hover{
  background-color: #BDC3C7;
}
.regles p{
  width: 210px;
    height: 210px;
    border-radius: 100%;
    border: 5px solid  #D35400;
    font: bold 1.875rem "Quicksand";
    color: #D35400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gauche p{
   display: flex;
   justify-content: center;
    align-items: center;
    margin-left: 50px;
 
}
.regles .droite{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}
.droite p{
    display: flex;
    justify-content: center;
     align-items: center;
    margin-right: 50px;
}
.regles h3{
  font:400 2.25rem "Quicksand";
}
/* section info */
.info .wrapper{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 1000px;
}
.info article{
width: 470px;
}
.info p{
  font:400 1.25rem "Roboto";
  line-height: 40px;
  margin: 30px 0px 30px 0px;
}
.info span{
  font-weight: bold;
}

/* footer */
footer{
  background-color:  #2980B9;
}
footer .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

}
footer p{
  font:bold 1.25rem "Roboto";
}
footer .bouton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  border: 3px solid #BDC3C7;
  height: 50px;
  width: 50px;
  margin-right: 50px;
}
